.MuiTablePagination-root {
  display: flex;
  justify-content: center;
}
.MuiTablePagination-actions {
  display: flex;
  flex-direction: row-reverse;
}
.MuiTablePagination-spacer::after {
  content: "تعداد سطر در هر صفحه";
  font-weight: bold;
  font-size: medium;
}
.MuiTablePagination-caption {
  display: none;
}
/* .cell {
  font-size: large;
  font-weight: bold;
} */
.MuiTableRow-root td {
  font-size: large;
  font-weight: bold;
}
.MuiButtonBase-root {
  width: 90px;
}
.MuiSvgIcon-root {
  margin-left: 4px;
}
span.MuiButton-startIcon {
  margin-right: 0;
}
div.MuiBackdrop-root {
  background-color: unset;
  backdrop-filter: blur(1px);
}
h2.MuiTypography-h6 {
  display: flex;
  justify-content: space-between;
}
div.rdw-editor-toolbar {
  direction: ltr;
}
.buttons {
  display: flex;
  align-items: center;
}
button.add {
  background-color: #4caf50;
  color: white;
  margin-bottom: 14px;
  font-weight: bold;
  margin-left: 16px;
}
button.add:hover {
  background-color: #26c32b;
}
.add-product {
  direction: ltr;
}
.image-upload {
  display: flex;
  justify-content: space-between;
}
.img-upload-description {
  align-self: center;
}
.select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rdw-emoji-modal,
.rdw-image-modal {
  right: 5px !important;
  left: unset !important;
}
