div.slider-item {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(230 241 235);
  height: 180px;
  padding: 10px 5px;
  border-radius: 13px;
  margin: 5px;
}
.product-data {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(70, 45, 211);
}
.product-data > h1 {
  text-align: center;
}
.product-data > h3 {
  text-align: center;
}
div.slick-slider {
  /* margin-bottom: 40px; */
  overflow: hidden;
}

img {
  border-radius: 15px;
}
.groups-link {
  font-weight: bold;
  text-decoration: none;
  color: rgb(16, 215, 241);
  font-size: x-large;
  padding-right: 8px;
  transition: 0.4s ease-out;
}
.groups-link:hover {
  color: rgb(47, 151, 165);
}
.slide-container {
  margin: 20px 0;
}
.slide-container:last-of-type {
  margin-bottom: 0;
}
.slides-container {
  background-color: white;
  padding: 20px;
}
