.groups-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.groups-list > h3 {
  margin: 0;
  text-align: right;
}
.groups-list > ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-weight: bold;
}
.groups-list li {
  margin: 3px 0;
}
aside {
  background-color: rgb(210 249 210);
  color: #435688;
  height: 100%;
}
.group-link {
  text-decoration: none;
  color: rgb(60, 95, 168);
}
.group-link:hover {
  color: rgb(17, 39, 87);
}
.selected {
  color: rgb(233, 16, 179);
}
.card {
  display: flex;
  background-color: rgb(230 241 235);
  border-radius: 10px;
  justify-content: space-evenly;
  padding: 5px 2px;
  margin: 3px;
  height: 125px;
}
.card img {
  width: 100px;
}
.price-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-container {
  text-decoration: none;
  color: rebeccapurple;
}
.accordion-summary {
  padding: 0 !important;
  width: 100% !important;
  justify-content: center !important;
}
.MuiAccordionSummary-content {
  flex-grow: 0 !important;
  margin: 0 !important;
}
.MuiAccordionSummary-expandIcon {
  display: none !important;
}
.content {
  padding: 10px;
}
.list-of-group {
  list-style: none;
  padding: 0;
}
.side-bar,
.main-wrapper {
  display: flex !important;
  flex-direction: column;
  height: calc(100vh - 78.875px) !important;
}
.side-bar > aside,
.main-section {
  /* flex: 1 !important; */
  overflow: auto !important;
}
.MuiAccordionDetails-root {
  flex-direction: column !important;
  align-items: center !important;
  padding: 0 16px !important;
}

@media only screen and (max-width: 600px) {
  .side-bar,
  .main-wrapper {
    height: calc(100vh - 126.875px) !important;
  }
}
.group-img {
  margin-left: 5px;
}
