.bread-crumb-link {
  color: rgb(21, 199, 223);
  text-decoration: none;
  font-weight: bold;
}
.bread-crumb-link:hover {
  color: rgba(64, 227, 249, 1);
}
.input-number {
  margin-left: 10px;
  width: 30px;
  height: 33px;
}
.add-to-cart {
  display: flex;
  align-items: center;
}
button.add-to-cart-btn {
  direction: ltr;
  width: 160px;
  height: 40px;
  margin: 0;
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 3px;
}
button.add-to-cart-btn:hover {
  background-color: rgb(89, 255, 47);
}
.product-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.image-of-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.image-of-product > img {
  width: 300px;
}
.product-details-page {
  padding: 5px;
}
.product-name {
  color: darkgray !important;
}
